{% extends "frontend/base.html" %} {% load static %} {% block content %}
<!-- Login -->

<div class="container">
  <div class="card bg-light">
    <article class="card-body mx-auto" style="max-width: 400px">
      <h4 class="card-title mt-3 text-center">Login</h4>
      <p>
        <a href="" class="btn btn-block btn-twitter">
          <i class="fab fa-twitter"></i>
          Login via Twitter
        </a>
        <a href="" class="btn btn-block btn-facebook">
          <i class="fab fa-facebook-f"></i>
          Login via facebook
        </a>
      </p>
      <p class="divider-text">
        <span class="bg-light">OR</span>
      </p>
      <!--Alerts-->
      {% include 'frontend/partials/alerts.html' %}
      <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <!-- form-group// -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-envelope"></i>
            </span>
          </div>
          <input
            name="email"
            class="form-control"
            placeholder="Email address"
            type="email"
          />
        </div>
        <!-- form-group end.// -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-lock"></i>
            </span>
          </div>
          <input
            name="password"
            class="form-control"
            placeholder="password"
            type="password"
          />
        </div>
        <!-- form-group// -->
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block">
            Log In
          </button>
        </div>
        <!-- form-group// -->
      </form>
      <p class="text-center">
        Don't have an account? <a href="{% url 'register' %}">Register</a>
      </p>
    </article>
  </div>
  <!-- card.// -->
</div>
<!--container end.//-->
{% endblock %}
