{% load static %}

<hr>
<footer class="main-footer" style="padding-left: 25%;">
    <strong>Copyright &copy;
      <script>
        document.write(new Date().getFullYear());
      </script>
      <a href="{% url 'index' %}">Sheeky Salon and Barber</a>.
    </strong>
    All rights reserved.
</footer>

    <!-- preloader
    ================================================== -->
    <div id="preloader">
      <div id="loader">
      </div>
    </div>


    <!-- Java Script
    ================================================== -->
    <script src="{% static 'frontend/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'frontend/js/plugins.js' %}"></script>
    <script src="{% static 'frontend/js/main.js' %}"></script>
  </body>
</html>