{% load static %}

<!-- navbar
    ================================================== -->
<header class="s-header">
  <nav class="header-nav">
    <a href="#0" class="header-nav__close" title="close"><span>Close</span></a>
    <div class="header-nav__content">
      <h3>Sheeky Salon and Barber</h3>

      <ul class="header-nav__list">
        <li
        {% if 'index' in request.path %}
        class="nav-item active mr-3"
        {% else %}
          class="nav-item mr-3"
        {% endif %}
        >
          <a href="{% url 'index' %}" title="home">Home</a>
        </li>
        <li
        {% if 'salon' in request.path %}
        class="nav-item active mr-3"
        {% else %}
          class="nav-item mr-3"
        {% endif %}
        >
          <a href="{% url 'salon' %}" title="salon">Salon</a>
        </li>
        <li
          {% if 'barber' in request.path %}
            class="nav-item active mr-3"
          {% else %}
            class="nav-item mr-3"
          {% endif %}
        >
          <a href="{% url 'barber' %}" title="barber">Barber</a>
        </li>
        <li
        {% if 'products' in request.path %}
        class="nav-item active mr-3"
        {% else %}
          class="nav-item mr-3"
        {% endif %}
        >
          <a href="{% url 'products' %}" title="products">Products</a>
        </li>
        <li
        {% if 'sheekyhub' in request.path %}
        class="nav-item active mr-3"
        {% else %}
          class="nav-item mr-3"
        {% endif %}
        >
          <a href="{% url 'sheekyhub' %}" title="works">Sheeky Hub</a>
        </li>
        <li
        {% if 'doorstep-deluxe' in request.path %}
        class="nav-item active mr-3"
        {% else %}
          class="nav-item mr-3"
        {% endif %}
        >
          <a href="#" title="doorstepdeluxe">Doorstep Deluxe</a>
        </li>
        <li
        {% if 'help' in request.path %}
        class="nav-item active mr-3"
        {% else %}
          class="nav-item mr-3"
        {% endif %}
        >
          <a href="{% url 'help' %}" title="help">Help</a>
        </li>
      </ul>
      <ul style="color: black">
        {% if user.is_authenticated %}
          <li
          {% if 'myaccount' in request.path %}
          class="nav-item active mr-3"
          {% else %}
            class="nav-item mr-3"
          {% endif %}
          >
            <a href="{% url 'myaccount' %}" title="myaccount">
              <i class="fas fa-user"></i>My Account
            </a>
          </li>
          <li class="nav-item mr-3">
            <a href="javascript:{document.getElementById('logout').submit()}" class="nav-link">
              <i class="fas fa-sign-out-alt"></i> Logout
            </a>
            <form action="{% url 'logout' %}" method="POST" id="logout">
              {% csrf_token %}
              <input type="hidden">
            </form>
          </li>
        {% else %}
          <li
            {% if 'register' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
          >
            <a class="nav-link" href="{% url 'register' %}">
              <i class="fas fa-user-plus"></i> Register
            </a>
          </li>
          <li
          {% if 'login' in request.path %}
          class="nav-item active mr-3"
          {% else %}
            class="nav-item mr-3"
          {% endif %}
          >
            <a class="nav-link" href="{% url 'login' %}">
              <i class="fas fa-sign-in-alt"></i> Login
            </a>
          </li>
        {% endif %}
      </ul>

      <ul class="header-nav__social">
        <li>
          <a href="#0"><i class="fab fa-facebook"></i></a>
        </li>
        <li>
          <a href="#0"><i class="fab fa-twitter"></i></a>
        </li>
        <li>
          <a href="#0"><i class="fab fa-instagram"></i></a>
        </li>
        <li>
          <a href="#0"><i class="fab fa-youtube"></i></a>
        </li>
        <li>
          <a href="#0"><i class="fab fa-linkedin"></i></a>
        </li>
        <li>
          <a href="#0"><i class="fab fa-snapchat"></i></a>
        </li>
      </ul>
    </div>
    <!-- end header-nav__content -->
  </nav>
  <!-- end header-nav -->

  <a class="header-menu-toggle" href="#0">
    <span class="header-menu-icon"></span>
  </a>
</header>
<!-- end s-header -->
