{% load static %}

<!-- sds -->
{% include 'backend/partials/header.html' %}

 <!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
     <!-- sidebar: style can be found in sidebar.less -->
     <section class="sidebar">
        {% include 'backend/partials/sidebar.html' %}
    </section>
  <!-- /.sidebar -->
</aside>

<div class="content-wrapper">
    <section class="content">
        {% block content %}{% endblock %}
    </section>
</div>

<!-- sd -->
{% include 'backend/partials/footer.html' %}
