{% extends "backend/base.html" %} {% load static %} {% block content %}
<div class="box box-primary">
    <ol class="breadcrumb">
        <li><a href="{% url 'app:categories.index' %}"><i class="fa fa-list-ul"></i> List Of Categories</a></li>
        <li class="active">New Service Category</li>
    </ol>
    {% if form.errors %}
    <div class="alert alert-danger alert-dismissible col-12 mx-1" role="alert">
        <div id="form_errors">
            {% for key, value in form.errors.items %}
            <span class="fieldWrapper">
                {{ value }}
            </span>
            {% endfor %}
        </div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
    <div class="box-header with-border">
        <h3 class="box-title">New Service Category</h3>
    </div><!-- /.box-header -->
    <form role="form" method="post" id="form" name="form" action="{% url 'app:categories.store' %}">
        {% csrf_token %}
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <td>
                        <div class="form-group">
                            <label>Name:</label>
                            <input type="text" id="category_name" name="category_name" class="form-control"
                                value="">
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="box-footer">
            <button type="submit" id="submit" name="submit" class="btn btn-success"><i class="fa fa-save"
                    aria-hidden="true">&nbsp;</i>Save</button>
        </div>
    </form>
</div>
{% endblock %}