{% load static %}

<!-- Jquery Core Js -->
<script src="{% static 'backend/assets/bundles/libscripts.bundle.js' %}"></script>
<!-- Lib Scripts Plugin Js' %} ( jquery.v3.2.1, Bootstrap4 js) -->
<script src="{% static 'backend/assets/bundles/vendorscripts.bundle.js' %}"></script>
<!-- slimscroll, waves Scripts Plugin Js -->

<script src="{% static 'backend/assets/bundles/jvectormap.bundle.js' %}"></script>
<!-- JVectorMap Plugin Js -->
<script src="{% static 'backend/assets/bundles/sparkline.bundle.js' %}"></script>
<!-- Sparkline Plugin Js -->
<script src="{% static 'backend/assets/bundles/c3.bundle.js' %}"></script>

<script src="{% static 'backend/assets/bundles/mainscripts.bundle.js' %}"></script>
<script src="{% static 'backend/assets/js/pages/index.js' %}"></script>
</body>

</html>