{% load static %}

<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
        Version 1.0
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2020 <a href="#">Sheeky Salon & Barber</a>.</strong> All rights reserved.
</footer>
</div>
<!-- ./wrapper -->
<!-- AdminLTE App -->
<script src="{% static 'backend/assets/lte/dist/js/app.min.js' %}"></script>
<!-- DataTables -->
<script src="{% static 'backend/assets/lte/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'backend/assets/lte/plugins/datatables/dataTables.bootstrap.min.js' %}"></script>
<script>
    $(function () {
        $("#example1").DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false
        });

        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": false,
            "info": true,
            "autoWidth": false
        });
    });

    $(function () {
        $("#dtp1").datepicker();
        $("#dtp2").datepicker();
        $("#dtp3").datepicker();
    });
</script>
</body>

</html>