{% extends "frontend/base.html" %} {% load static %} {% block content %}

<div id="booking" class="section" style="padding-left: 15%">
  <div class="section-center">
    <div class="container">
      <div class="row">
        <div class="booking-form">
          <div class="form-header">
            <h1>Let's Plan Your Next Visit</h1>
          </div>
          {% include 'frontend/partials/alerts.html' %}
          <form action="{% url 'booking-page' %}" method="POST">
            {% csrf_token %}
            <span class="form-label">Date</span>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input class="form-control" type="date" required />
                </div>
              </div>
            </div>
            <span class="form-label">Here are our suggested times</span>
            <div class="row card">
              <div class="col-md-4">
                <div class="form-group">
                  <select class="form-control" required>
                    <option value="" selected hidden></option>
                    {% if time %} {% for value in time %}
                    <option>{{ value.suggested_time }}</option>
                    {% endfor %} {% else %}
                    <div class="col-md-12">
                      <p>Visit Us Anytime</p>
                    </div>
                    {% endif %}
                  </select>
                  <span class="select-arrow"></span>
                </div>
              </div>
            </div>
            <br />
            <span class="form-label">
              Select The Most Convenient Time For You
            </span>
            <div class="row card">
              <div class="col-md-4">
                <div class="form-group">
                  <input type="time" />
                </div>
              </div>
            </div>
            <div class="form-btn">
              <button class="submit-btn">Book Now</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
