{% extends "frontend/base.html" %} {% load static %} {% block content %}

<section class="card">
  <div class="container">
    <!-- Content Wrapper. Contains page content -->

    <div class="content-wrapper">
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row clearfix">
            <div class="col-sm-12">
              <h3>Frequently Asked Questions(FAQs)</h3>
              {% if help %} {% for question in help %}
              <ul class="cbp_tmtimeline">
                <li>
                  <div class="cbp_tmicon bg-info">
                    <i class="zmdi zmdi-label"></i>
                  </div>
                  <div class="cbp_tmlabel">
                    <h5>{{ question.problem }}</h5>
                    <p>{{ question.solution }}</p>
                  </div>
                </li>
              </ul>
              {% endfor %} {% else %}
              <div class="col-md-12">
                <p>No FAQs Available At The Moment.</p>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>

{% endblock %}
