{% extends "frontend/base.html" %}

{% load static %}

{% block content %}

<!-- Listings -->
<section id="listings" class="py-4">
    <div class="container">
        <div class="row">
            <!-- Listing 1 -->
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card listing-preview">
                    <div class="card-body">
                        <div class="listing-heading text-center">
                            <h4 class="text-primary">Hair</h4>
                        </div>
                        <hr />
                        <a href="/service-categories" class="btn btn-primary
                            btn-block">More
                            Info</a>
                    </div>
                </div>
            </div>

            <!-- Listing 2 -->
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card listing-preview">
                    <div class="card-body">
                        <div class="listing-heading text-center">
                            <h4 class="text-primary">Nails</h4>
                        </div>
                        <hr />
                        <a href="hair.html" class="btn btn-primary btn-block">More
                            Info</a>
                    </div>
                </div>
            </div>

            <!-- Listing 4 -->
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card listing-preview">
                    <div class="card-body">
                        <div class="listing-heading text-center">
                            <h4 class="text-primary">Skin</h4>
                        </div>
                        <hr />
                        <a href="hair.html" class="btn btn-primary btn-block">More
                            Info</a>
                    </div>
                </div>
            </div>

            <!-- Listing 5 -->
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card listing-preview">
                    <div class="card-body">
                        <div class="listing-heading text-center">
                            <h4 class="text-primary">Products</h4>
                        </div>
                        <hr />
                        <a href="products.html" class="btn btn-primary
                            btn-block">More Info</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
