{% extends "frontend/base.html" %}

{% load static %}

{% block content %}
<!-- Listing -->
<section id="listing" class="py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <!-- Home Main Image -->
                <img
                    src="{% static 'frontend/assets/img/sheeky/sheeky-7.jpg' %}"
                    alt=""
                    class="img-main img-fluid mb-3"
                    />
                <!-- Thumbnails -->
                <div class="row mb-5 thumbs">
                    <div class="col-md-2">
                        <a
                            href="{% static
                            'frontend/assets/img/sheeky/sheeky-7.jpg' %}"
                            data-lightbox="home-images">
                            <img
                                src="{% static
                                'frontend/assets/img/sheeky/sheeky-7.jpg' %}"
                                alt=""
                                class="img-fluid"
                                />
                        </a>
                    </div>
                    <div class="col-md-2">
                        <a
                            href="{% static
                            'frontend/assets/img/sheeky/sheeky-8.jpg' %}"
                            data-lightbox="home-images">
                            <img
                                src="{% static
                                'frontend/assets/img/sheeky/sheeky-8.jpg' %}"
                                alt=""
                                class="img-fluid"
                                />
                        </a>
                    </div>
                    <div class="col-md-2">
                        <a
                            href="{% static
                            'frontend/assets/img/sheeky/sheeky-3.jpg' %}"
                            data-lightbox="home-images">
                            <img
                                src="{% static
                                'frontend/assets/img/sheeky/sheeky-3.jpg' %}"
                                alt=""
                                class="img-fluid"
                                />
                        </a>
                    </div>
                    <div class="col-md-2">
                        <a
                            href="{% static
                            'frontend/assets/img/sheeky/sheeky-4.jpg' %}"
                            data-lightbox="home-images">
                            <img
                                src="{% static
                                'frontend/assets/img/sheeky/sheeky-4.jpg' %}"
                                alt=""
                                class="img-fluid"
                                />
                        </a>
                    </div>
                    <div class="col-md-2">
                        <a
                            href="{% static
                            'frontend/assets/img/sheeky/sheeky-5.jpg' %}"
                            data-lightbox="home-images">
                            <img
                                src="{% static
                                'frontend/assets/img/sheeky/sheeky-5.jpg' %}"
                                alt=""
                                class="img-fluid"
                                />
                        </a>
                    </div>
                    <div class="col-md-2">
                        <a
                            href="{% static
                            'frontend/assets/img/sheeky/sheeky-6.jpg' %}"
                            data-lightbox="home-images">
                            <img
                                src="{% static
                                'frontend/assets/img/sheeky/sheeky-6.jpg' %}"
                                alt=""
                                class="img-fluid"
                                />
                        </a>
                    </div>
                </div>
                <!-- Fields -->
                <div class="row mb-5 fields">
                    <div class="col-md-6">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item text-secondary">
                                <i class="fas fa-money-bill-alt"></i> Price:
                                <span class="float-right">$490,000</span>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Description -->
                <div class="row mb-5">
                    <div class="col-md-12">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Mollitia recusandae esse reiciendis officia omnis non
                        rerum
                        dicta cupiditate nostrum molestias deserunt aut minus
                        inventore
                        animi atque, consequuntur ad fugit. Possimus culpa
                        blanditiis
                        repellendus ipsa similique ullam, natus error dolor
                        harum.
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <button
                    class="btn-primary btn-block btn-lg"
                    data-toggle="modal"
                    data-target="#inquiryModal">
                    BOOK APPOINTMENT
                </button>
            </div>
        </div>
    </div>
</section>

<!-- Inquiry Modal -->
<div class="modal fade" id="inquiryModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="inquiryModalLabel">
                    BOOK APPOINTMENT NOW
                </h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="property_name" class="col-form-label">Style:</label>
                        <input
                            type="text"
                            name="listing"
                            class="form-control"
                            value="45
                            Drivewood Cirlce"
                            disabled
                            />
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-form-label">Name:</label>
                        <input type="text" name="name" class="form-control"
                            required />
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-form-label">Email:</label>
                        <input
                            type="email"
                            name="email"
                            class="form-control"
                            required
                            />
                    </div>
                    <div class="form-group">
                        <label for="phone" class="col-form-label">Phone:</label>
                        <input type="text" name="phone" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="message" class="col-form-label">Message:</label>
                        <textarea name="message" class="form-control"></textarea>
                    </div>
                    <hr />
                    <input
                        type="submit"
                        value="Send"
                        class="btn btn-block btn-secondary"
                        />
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
