{% extends "frontend/base.html" %} {% load static %} {% block content %}
<!--Section: Block Content-->
<section class="mb-5">
  {% if service %} {% for service_detail in service %}
  <div class="row">
    <div class="col-md-6 mb-4 mb-md-0">
      <div id="mdb-lightbox-ui"></div>

      <div class="mdb-lightbox">
        <div class="row product-gallery mx-1">
          <div class="col-12 mb-0">
            <figure class="view overlay rounded z-depth-1 main-img">
              <img
                src="{{ service_detail.main_photo.url }}"
                alt=""
                class="img-main img-fluid mb-3"
              />
            </figure>
          </div>
          <div class="col-12">
            <div class="row">
              <div class="col-3">
                <div class="view overlay rounded z-depth-1 gallery-item">
                  <img
                    src="{{ service_detail.photo_1.url }}"
                    alt=""
                    class="img-main img-fluid mb-3"
                  />
                  <div class="mask rgba-white-slight"></div>
                </div>
              </div>
              <div class="col-3">
                <div class="view overlay rounded z-depth-1 gallery-item">
                  <img
                    src="{{ service_detail.photo_2.url }}"
                    alt=""
                    class="img-main img-fluid mb-3"
                  />
                  <div class="mask rgba-white-slight"></div>
                </div>
              </div>
              <div class="col-3">
                <div class="view overlay rounded z-depth-1 gallery-item">
                  <img
                    src="{{ service_detail.photo_3.url }}"
                    alt=""
                    class="img-main img-fluid mb-3"
                  />
                  <div class="mask rgba-white-slight"></div>
                </div>
              </div>
              <div class="col-3">
                <div class="view overlay rounded z-depth-1 gallery-item">
                  <img
                    src="{{ service_detail.photo_4.url }}"
                    alt=""
                    class="img-main img-fluid mb-3"
                  />
                  <div class="mask rgba-white-slight"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h5>{{ service_detail.service_subcategory }}</h5>
      <p class="mb-2 text-muted text-uppercase small">
        {{ service_detail.name }}
      </p>
      <ul class="rating row" style="padding-left: 5%">
        <a>
          <i class="fas fa-star fa-sm text-primary"></i>
        </a>
        <a>
          <i class="fas fa-star fa-sm text-primary"></i>
        </a>
        <a>
          <i class="fas fa-star fa-sm text-primary"></i>
        </a>
        <a>
          <i class="fas fa-star fa-sm text-primary"></i>
        </a>
        <a>
          <i class="far fa-star fa-sm text-primary"></i>
        </a>
      </ul>
      <p>
        <span class="mr-1">
          Price: <strong>KSH. {{ service_detail.price }}</strong>
        </span>
      </p>
      <p class="pt-1">{{ service_detail.description }}</p>
      <button type="button" class="btn btn-primary btn-md mr-1 mb-2">
        <a href="{% url 'booking-page' %}">Book Appointment Now</a>
      </button>
    </div>
  </div>
  <!-- Recommendations -->
  <!--Section: Block Content-->
  <hr />
  <section class="text-center">
    <h2>Recommendations</h2>
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-6 col-lg-3 mb-5">
        <!-- Card -->
        <div class="">
          <div class="view zoom overlay z-depth-2 rounded">
            <a href="#!">
              <div class="mask">
                <img
                  src="{% static 'frontend/assets/img/sheeky/sheeky-5.jpg' %}"
                  alt=""
                  class="img-main img-fluid mb-3"
                />
                <div class="mask rgba-black-slight"></div>
              </div>
            </a>
          </div>

          <div class="pt-4">
            <h5>Fantasy Manicure</h5>
            <h6>12.99 $</h6>
          </div>
        </div>
        <!-- Card -->
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-6 col-lg-3 mb-5">
        <!-- Card -->
        <div class="">
          <div class="view zoom overlay z-depth-2 rounded">
            <a href="#!">
              <div class="mask">
                <img
                  src="{% static 'frontend/assets/img/sheeky/sheeky-5.jpg' %}"
                  alt=""
                  class="img-main img-fluid mb-3"
                />
                <div class="mask rgba-black-slight"></div>
              </div>
            </a>
          </div>

          <div class="pt-4">
            <h5>Fantasy HairStyle</h5>
            <h6>12.99 $</h6>
          </div>
        </div>
        <!-- Card -->
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-6 col-lg-3 mb-5">
        <!-- Card -->
        <div class="">
          <div class="view zoom overlay z-depth-2 rounded">
            <a href="#!">
              <div class="mask">
                <img
                  src="{% static 'frontend/assets/img/sheeky/sheeky-5.jpg' %}"
                  alt=""
                  class="img-main img-fluid mb-3"
                />
                <div class="mask rgba-black-slight"></div>
              </div>
            </a>
          </div>

          <div class="pt-4">
            <h5>Fantasy HairStyle</h5>
            <h6>
              <span class="text-black mr-1">$12.99</span>
            </h6>
          </div>
        </div>
        <!-- Card -->
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-6 col-lg-3 mb-5">
        <!-- Card -->
        <div class="">
          <div class="view zoom overlay z-depth-2 rounded">
            <a href="#!">
              <div class="mask">
                <img
                  src="{% static 'frontend/assets/img/sheeky/sheeky-5.jpg' %}"
                  alt=""
                  class="img-main img-fluid mb-3"
                />
                <div class="mask rgba-black-slight"></div>
              </div>
            </a>
          </div>

          <div class="pt-4">
            <h5>Fantasy HairStyle</h5>
            <h6>
              <span class="text-black mr-1">$12.99</span>
            </h6>
          </div>
        </div>
        <!-- Card -->
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </section>
  {% endfor %}
  <!--Section: Block Content-->
  {% else %}
  <div class="col-md-12">
    <p>No Salon Service Detail</p>
  </div>
  {% endif %}
</section>
<!--Section: Block Content-->
{% endblock %}
