{% extends "frontend/base.html" %}

{% load static %}

{% block content %}
<!-- Listings -->
<section id="listings" class="py-4">
    <div class="container">
        <div class="row">
            <!-- Listing 1 -->
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card listing-preview">
                    <div class="card-body">
                        <div class="listing-heading text-center">
                            <h4 class="text-primary">Braid Category-1</h4>
                        </div>
                        <hr />
                        <a href="booking.html" class="btn btn-primary btn-block">More
                            Info</a>
                    </div>
                </div>
            </div>

            <!-- Listing 2 -->
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card listing-preview">
                    <div class="card-body">
                        <div class="listing-heading text-center">
                            <h4 class="text-primary">Braid Category-2</h4>
                        </div>
                        <hr />
                        <a href="booking.html" class="btn btn-primary btn-block">More
                            Info</a>
                    </div>
                </div>
            </div>

            <!-- Listing 3-->
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card listing-preview">
                    <div class="card-body">
                        <div class="listing-heading text-center">
                            <h4 class="text-primary">Braid Category-3</h4>
                        </div>
                        <hr />
                        <a href="booking.html" class="btn btn-primary btn-block">More
                            Info</a>
                    </div>
                </div>
            </div>

            <!-- Listing 4 -->
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card listing-preview">
                    <div class="card-body">
                        <div class="listing-heading text-center">
                            <h4 class="text-primary">Braid Category-4</h4>
                        </div>
                        <hr />
                        <a href="booking.html" class="btn btn-primary btn-block">More
                            Info</a>
                    </div>
                </div>
            </div>

            <!-- Listing 5 -->
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card listing-preview">
                    <div class="card-body">
                        <div class="listing-heading text-center">
                            <h4 class="text-primary">Braid Category-5</h4>
                        </div>
                        <hr />
                        <a href="booking.html" class="btn btn-primary btn-block">More
                            Info</a>
                    </div>
                </div>
            </div>

            <!-- Listing 6 -->
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card listing-preview">
                    <div class="card-body">
                        <div class="listing-heading text-center">
                            <h4 class="text-primary">Braid Category-6</h4>
                        </div>
                        <hr />
                        <a href="booking.html" class="btn btn-primary btn-block">More
                            Info</a>
                    </div>
                </div>
            </div>

            <!-- Listing 7 -->
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card listing-preview">
                    <div class="card-body">
                        <div class="listing-heading text-center">
                            <h4 class="text-primary">Braid Category-7</h4>
                        </div>
                        <hr />
                        <a href="booking.html" class="btn btn-primary btn-block">More
                            Info</a>
                    </div>
                </div>
            </div>

            <!-- Listing 8 -->
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card listing-preview">
                    <div class="card-body">
                        <div class="listing-heading text-center">
                            <h4 class="text-primary">Braid Category-8</h4>
                        </div>
                        <hr />
                        <a href="booking.html" class="btn btn-primary btn-block">More
                            Info</a>
                    </div>
                </div>
            </div>

            <!-- Listing 9 -->
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card listing-preview">
                    <div class="card-body">
                        <div class="listing-heading text-center">
                            <h4 class="text-primary">Braid Category-9</h4>
                        </div>
                        <hr />
                        <a href="booking.html" class="btn btn-primary btn-block">More
                            Info</a>
                    </div>
                </div>
            </div>

            <!-- Listing 10 -->
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card listing-preview">
                    <div class="card-body">
                        <div class="listing-heading text-center">
                            <h4 class="text-primary">Braid Category-10</h4>
                        </div>
                        <hr />
                        <a href="booking.html" class="btn btn-primary btn-block">More
                            Info</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
